#navbar {
  background-color: var(--primary-color);
  color: var(--text-white);
  display: flex;
  align-items: center;
  /* padding: 12px; */
  height: 65px;
  font-weight: 500;
}
.brand-logo img {
  width: 180px;
  float: left;
  margin: 0 2vw 0 5vw;
}
#side-navbar {
  display: none;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--mobile-navbar);
  color: var(--text-color);
  transition: all 0.5s;
}
#menu-lines {
  display: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 30px;
}
#close-side-menu {
  display: none;
  cursor: pointer;
  font-size: 40px;
  justify-content: right !important;
  margin: 10px 20px;
}
#navbar li {
  display: inline;
  margin: 0 10px;
}
#navbar li a {
  color: var(--text-white);
  cursor: pointer;
  text-decoration: none;
}
#main-menu {
  display: inline;
}

/* Article Section  */
article {
  margin: 6px 20vw 6px 20vw;
  padding: 20px;
  background-color: var(--background-white);
  color: var(--text-color);
  box-shadow: 0px 0px 100px 6px black;
  font-weight: 500;
}
article h1 {
  font-size: 2rem;
}
article h2 {
  font-size: 1.5rem;
}
article h3 {
  font-size: 1.2rem;
}
.code {
  background-color: var(--primary-color);
  display: block;
  color: var(--text-white);
  margin: 0 2vw;
  font-size: 16px;
}

/* Responsive : In Mobile  */
@media (max-width: 500px) {
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  #side-navbar {
    display: unset;
  }
  #menu-lines {
    display: inline;
  }
  #close-side-menu {
    display: none;
  }
  #navbar li {
    display: none;
  }
  .btn {
    display: none;
  }
  article {
    margin: 6px 0 0 0;
    box-shadow: none;
  }
}
